.table-container{
    padding: 0 10%;
    margin: 40px auto 0;
}

table{
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    border: solid 1px;
    border-collapse: collapse;
}

th, td{
    font-size: 2em;
    border: 1px solid var(--color-darkgray);    
    padding: 1em;
}
table thead th{
    background-color: var(--color-g2);
    color: var(--color-light);
}

.action-column > .btn-wrapper > button{
    width: 4em;
    height: 2em;
    color: var(--color-light);
    border: none;
    cursor: pointer;
    margin: 1px;
}
.action-column >.btn-wrapper > .btn-edit{
 background-color: rgb(255, 145, 0);
}
.action-column >.btn-wrapper > .btn-edit:hover{
    background-color: rgb(252, 153, 23);
}
.action-column >.btn-wrapper > .btn-edit:active{
    background-color: rgb(237, 136, 5);
}
.action-column >.btn-wrapper > .btn-view{
    background-color: blue;
}
.action-column >.btn-wrapper > .btn-view:hover{
    background-color: rgb(66, 66, 255);
}
.action-column >.btn-wrapper > .btn-view:active{
    background-color: rgb(5, 5, 164);
}
.action-column >.btn-wrapper > .btn-delete{
    background-color: red;
}
.action-column >.btn-wrapper > .btn-delete:hover{
    background-color: rgb(254, 28, 28);
}
.action-column >.btn-wrapper > .btn-delete:active{
    background-color: rgb(222, 6, 6);
}

 .btn-add{
    background-color: green;
    color: var(--color-light);
    width: 8em;
    height: 3em;
}

@media (max-width: 800px){
    table{
        border: none;
    }
    table thead th{
        display: none;
    }
    table > tbody > tr{
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        position: relative;
    }
    tr > td{
        text-align: end;
    }
    tr > td:before{
        position: absolute;
        content: attr(data-label);
        font-size: 1em;
        left: 0;
        padding-left: 1em;
        font-weight: 600;
    }

}
   
   
